<!DOCTYPE html>
<html lang="en" ng-app="BillsApp">
<head>
    <title>Bill Calculation Application</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Bills Processing App</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/custom.css">
    <script src="node_modules/angular/angular.js"></script>
</head>
<body>
<div ng-controller="MainCtrl">
<div class="jumbotron">
    <h1>Bill Calculation Application </h1>

    <p >This Application will help you add up and see the total cost of your bills</p>
</div>
    <div class="col-centered makeDivSmall">
    <form name="BillInput">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Bill</span>
            <input name="bill" class="input1"  type="text"  ng-model="bill">
        </div>


        <br/>
        <div class="input-group ">
            <span class="input-group-addon" id="basic-addon1">Amount</span>
            <input name="Amount" type="number"  ng-model="amount">
        </div>

    </form>
    </div>


    <br/>
   <button type="button" class="btn btn-sm center-block buttonColors" ng-click="submit()">Add Item to List</button>
    <p class="alignTextCenter">{{feedback}}</p>

    <div class="jumbotron-hr" ng-show="billsArray.length > 0">
        <h2 class=""> Your Bills </h2>
        <div class="col-centered" ng-repeat="bills in billsArray">
            <h3> Bill: {{bills}} &nbsp; &nbsp; Amount: ${{amountArray[$index]}} </h3>
            <br/>
        </div>
        <div class="col-centered">
            <h2>Total Amount:  ${{totalAmount}}</h2>
        </div>
    </div>
</div>
<br/>


<script src="js/app.js"></script>
<script src="js/MainCtrl.js"></script>
<script src="js/services.js"></script>
</body>
</html>